<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harry.engine">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name="com.harry.engine.MyApplication"
        android:supportsRtl="true">
        <activity android:name="com.harry.engine.MainActivity"
            android:label="@string/app_name"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:value="flurry_key_value" android:name="flurry_key"></meta-data>
        </activity>
        <provider
            android:name="sh.lilith.lilithchat.providers.SDKFileProvider"
            android:authorities="com.lilithgame.roc.gp.lilith.chat.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/llh_chat_provider_paths"/>
        </provider>
    </application>

</manifest>
